<header class="main-header">
    <nav id="desktop-navigation" class="desktop-only">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <!-- <a href="/register">Register</a> -->
        <!-- <a href="/passwordReset">Password Reset</a> -->
        <a href="/login">Login</a>
    </nav>
    <hr class="desktop-only" />
    <section>
        <h1>PretendCoding | Full Web Authentication</h1>
        <button class="mobile-only" id="mobile-nav-menu-button"></button>
    </section>
</header>
<nav class="mobile-nav-menu mobile-only" id="mobile-nav-menu">
    <button class="nav-close-button" id="nav-close-button"></button>
    <a href="/login">Login</a>
    <hr />
    <a href="/">Home</a>
    <hr />
    <a href="/dashboard">Dashboard</a>
    <hr />
    <!-- <a href="/register">Register</a> -->
    <!-- <a href="/passwordReset">Password Reset</a> -->
</nav>