<!-- 
    <h1>Welcome to Web Authentication!</h1>
    <p>Please <a href="/register">register</a> or <a href="/login">login</a> to continue.</p>
 -->
<header class="hero">
    <div class="container spacing">
        <h1 class="primary-title">Full Web Authentication</h1>
        <p>Auth is good!</p>
        <a href="" class="btn">Here's why</a>
    </div>
</header>

<main>
    <section class="featured">
        <div class="container">
            <h2 class="section-title">Featured Products</h2>
            <div class="split">
                <a href="" class="featured__item">
                    <img src="/images/0.png" alt="" class="featured__img">
                    <p class="featured__details"><span class="price">$99</span>Image Name</p>
                </a>
                <a href="" class="featured__item">
                    <img src="/images/1.png" alt="" class="featured__img">
                    <p class="featured__details"><span class="price">$99</span>Image Name</p>
                </a>
                <a href="" class="featured__item">
                    <img src="/images/2.png" alt="" class="featured__img">
                    <p class="featured__details"><span class="price">$99</span>Image Name</p>
                </a>
            </div>
        </div>
    </section>
    <section class="our-products">
        <div class="container">
            <h2 class="section-title">Our Products</h2>

            <article class="product animal-bear spacing">
                <img src="/images/3.png" alt="" class="product__image">
                <h3 class="product__title">Header</h3>
                <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="" class="btn">Button</a>
            </article>

            <article class="product animal-ax spacing">
                <img src="/images/4.png" alt="" class="product__image">
                <h3 class="product__title">Header</h3>
                <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="" class="btn">Button</a>
            </article>

            <article class="product animal-pang spacing">
                <img src="/images/5.png" alt="" class="product__image">
                <h3 class="product__title">Header</h3>
                <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="" class="btn">Button</a>
            </article>
        </div>
    </section>
</main>