<header class="hero">
    <div class="container spacing">
        <h1 class="primary-title">Full Web Authentication</h1>
        <p>Any site where users purchase goods or services needs good security, authentication, and authorization</p>
        <a href="#sec" class="btn">Here's why</a>
    </div>
</header>

<main>
    <section class="featured" id="sec">
        <div class="container">
            <div class="split">
                <div class="section-info">
                    <h2 class="section-title">Security &amp; Trust</h2>
                    <img class="desktop-only" src="./images/SecurityAndTrust.png" alt="">
                    <p class="security-and-trust">In 2021 there were over 5,000 confirmed data breaches, leaking the information of millions of users. This is why it is imperative to make sure the most sensitive data a user has, namely passwords, credit card information, etc. is stored on that database through strong encryption, checks for user authentication, and authorization are thorough. When companies build trust, they enable customer evangelists ready to advocate their business. The quickest way to lose customer trust is having them figure out their information is unsecure.</p>
                </div>
                <div class="section-info">
                    <h2 class="section-title">Authentication</h2>
                    <img class="desktop-only" src="./images/Authentication.png" alt="">
                    <p class="authentication">Authentication is, simply, making sure a user is who they say they are. So long as the user correctly types in their information, they’re golden! However, there’s no way to know who’s typing in that information. Since data breaches happen often, unscrupulous individuals may have access to users’ login information. However, if your users’ passwords are properly stored (that is, using strong 1-way encryption), then an attacker would have a very hard time getting anything meaningful out of the breach.</p>
                </div>
                <div class="section-info">
                    <h2 class="section-title">Authorization</h2>
                    <img class="desktop-only" src="./images/Authorization.png" alt="">
                    <p class="authorization">What if, every time you opened a new page on a website, you had to log in again? That would be tiresome. This is where authorization comes in. Authorization allows servers to recognize users between visits and pages. This is often a difficulty in web security as it requires data to be stored on a user’s device to be sent between the user and the server. If this data is not stored correctly and securely, it is vulnerable to many types of attacks.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="our-products">
        <div class="container">
            <h2 class="section-title">What Do I Provide?</h2>

            <article class="product animal-bear spacing">
                <p class="product__description">I provide hassle-free web security for your site, seamlessly integrating with any system already in place. This includes everything mentioned above, as well as many customization features such as user roles, password resets, and more.</p>
                <a href="/login" class="btn">Try The Demo</a>
            </article>
        </div>
    </section>
</main>