<% if (locals.newPass) { %>
    <h1>New Password</h1>
<% } else { %>
    <h1>Reset Password</h1>
<% } %>
<form method="post" action="/passwordReset">
    <% if (locals.error) { %>
        <p><%= locals.error %></p>
    <% } %>
    <% if (locals.tokenLiteral) { %>
        <p><%= locals.tokenLiteral%></p>
    <% } %>
    <span>Email</span>
    <input type="email" name="email" required="true" />
    <br>

    <% if (locals.newPass) { %>
        <span>Password</span>
        <input type="password" name="password" required="true" />
        <br>
    <% } %>
    
    <input type="submit" />

    <input type="hidden" name="_csrf" value=<%= locals.csrfToken %> />
    <input type="hidden" name="uuid" value=<%= locals.uuid %> />
</form>