:root {
    --clr-background: white;
    --clr-heading-text: #006;
    --size-mobile-font: 1.3em;
    --clr-login-btn: #1161ee;
    --clr-error-msg: #c22;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header.main-header {
    display: block;
    z-index: 1;
    position: fixed;
    padding: 1em 0;
    margin: 0;
    width: 100%;
    background: var(--clr-background, pink);
    margin-bottom: auto;
}
header.main-header > h1 {
    padding-left: 1em;
    font-size: clamp(0.5em, calc(10vw + 1em), 1.5em);
    text-transform: uppercase;
    color: var(--clr-heading-text, pink);
}
header > section {
    margin: 0;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
header > section > button {
    background: none;
    background-image: url(./images/burger-menu.png);
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center right;
    border: none;
}
header > nav {
    z-index: 2;
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
    text-align: right;
    align-items: center;
    margin-right: 1em;
}
header > nav > a {
    text-decoration: none;
    text-shadow: 0 0 0.2em rgba(0,0,0,0.5);
    color: var(--clr-heading-text, pink);
    font-weight: 700;
    font-size: 1em;
    padding-left: 1em;
    transform: scale(.8);
    transition: transform 250ms ease-in-out;
}
header > nav > a:hover,
header > nav > a:focus {
    transform: scale(1);
}

.mobile-nav-menu {
    /* display: none; */
    z-index: 3;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--clr-background, pink);
    transform: translateX(100vw);
    transition: all 500ms ease-in-out;
}
.mobile-nav-menu-open {
    transform: translateX(0vw);
}
.mobile-nav-menu > a {
    display: block;
    text-align: right;
    text-decoration: none;
    text-shadow: 0 0 0.2em rgba(0,0,0,0.5);
    color: var(--clr-heading-text, pink);
    font-weight: 700;
    font-size: var(--size-mobile-font, 3em);
    padding-right: 1em;
    padding-top: 1em;
}

.nav-close-button {
/*     outline: 1px red solid; */
    border: none;
    margin: var(--size-mobile-font, 3em);
    margin-left: auto;
    margin-bottom: 0;
    display: block;
    height: 3em;
    width: 3em;
    background: url('./images/close.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 1em;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Ubuntu',
    sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, p {
    margin: 0;
}

section {
    padding: 7em 0;
}

.container {
    width: 85%;
    /*! max-width: 80em; */
    margin: 0 auto;
}

.split {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.split > * {
    flex-basis: 30%;
    min-width: 20em;
}

.spacing >*+* {
    margin-top: var(--spacer, 2rem);
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    border-radius: .25em;
    transition: 
        transform 250ms ease-in-out,
        opacity 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.primary-title {
    font-size: clamp(2rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1.1;
}

.section-title {
    text-align: center;
    font-size: clamp(1rem, calc(2vw + 1rem), 2.5rem);
    line-height: 1;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.section-info > p {
    text-shadow: 0 0 4px #eee;
    font-weight: 500;
}

.hero {
    color: white;
    text-align: center;
    padding: 15em 0;
    background: #222;
    position: relative;
}

@supports (background-blend-mode: multiply) {
    .hero {
        background:
            url(./images/security.png),
            radial-gradient(#444, #111);
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-position: center top;
    }
}

/* Desktop */
@media only screen and (min-width: 900px) {
    .mobile-only {
        display: none;
    }
    .hero {
        background-position: center center;
        top: 6em;
    }
    .split > *{
        flex-basis: 32%;
        min-width: 32em;
    }
    .section-info > img {
        height: 320px;
        float: left;
        shape-outside: circle(52%);
        margin: 1em;
    }
}

@media only screen and (max-width: 650px) {
    .hero {
        top:6em;
    }
}

/* Mobile */
@media only screen and (max-width: 899px) {
    .desktop-only {
        display: none;
    }
    .section-info > .security-and-trust {
        background:
            url('./images/SecurityAndTrust.png'), rgba(170, 170, 170, 0.5);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-blend-mode:hue;
    }

    .section-info > .authentication {
        background: url('./images/Authentication.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .section-info > .authorization {
        background: url('./images/Authorization.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.featured {
    background: #aaa;
}

.featured__item {
    display: block;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.featured__item:hover,
.featured__item:focus {
    transform: scale(1);
}

.featured__item:focus .featured__details,
.featured__item:hover .featured__details {
    opacity: 1;
}

.featured__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 100% 100% 0 0;
    border-radius: 50%;
    background: red;
}

.featured__details > span {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    opacity: 0;
}

.product {
    background: radial-gradient(var(--clr-inner, pink), var(--clr-outer, limegreen));
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 3em;
    text-align: center;
}

.product__title {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 .2em rgba(0,0,0,.2);
}

.animal-bear {
    --clr-inner: #fff;
    --clr-outer: #aaa;
    --clr-accent: #33f;
}

.product__description {
    text-shadow: 0 0 5px #ccc;
}

/* Login / Registration Form */
.login-wrap {
    padding: 0;
    top: 7em;
    width: 100%;
    margin: auto;
    max-width: 33em;
    min-height: 37em;
    position: relative;
    background: #334;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
/*     z-index: 5; */
/*     z index is temp while I'm working */
}
.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 2em 1em 0 1em;
    background: rgba(40,57,101,0.9)
}
.sign-in-htm {
    display: none;
}
.sign-up-htm {
    display: none;
}
.login-html .login-form {
    /*! top: 0; */
    /*! left: 0; */
    /*! right: 0; */
    /*! bottom: 0; */
/*! position: absolute; */
/*! transform: rotateY(180deg); */
    /*! backface-visibility: hidden; */
/*     transition: all .4s linear; */
}
/* hiding the checkboxes, instead using the labels to check/uncheck them */
.login-html .sign-in,
.login-html .sign-up,
.sign-in-htm .group .check {
    display: none;
}
.login-html .tab,
.sign-in-htm .group .label,
.sign-in-htm .group .button,
.sign-up-htm .group .label,
.sign-up-htm .group .button {
    text-transform: uppercase;
}
.login-html .tab {
    font-size: 1.4em;
    margin-right: 15px;
    padding-bottom: 5px;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	/*! position:relative; */
	/*! perspective:1000px; */
	/*! transform-style:preserve-3d; */
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button 
{
	color:#fff;
	display:block;
    border: none;
}
.login-form .group .label,
.login-form .group .input {
	width:100%;
}
.login-form .group .button {
    width: 50%;
    margin: auto;
}
.login-form .group .input,
.login-form .group .button {
	padding:15px 20px;
	border-radius:0.25em;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:var(--clr-login-btn);
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
/* 	transform:rotateY(0deg); */
    display: block;
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
/* 	transform:rotate(0); */
    display: block;
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.error-message {
    width: 100%;
    text-align: center;
    color: var(--clr-error-msg);
    text-shadow: 0 0 3px black;
}